<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AOH3Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AOH3Launcher.Properties.Settings>
            <setting name="CloseLauncherAfterGameStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoostGamePerformance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </AOH3Launcher.Properties.Settings>
    </userSettings>
</configuration>